@model EIGO.PDLA.WebAPP.Areas.Administracion.DTO.ProcesoDto

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<h4>Proceso</h4>
<hr />
<!-- actualizar fecha fin -->
<div class="modal fade" id="ActualizarFecha" tabindex="-1" aria-labelledby="ActualizarFecha" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="ReabrirProceso">
                <input type="hidden" asp-for="IdProceso" />
                <div class="modal-header">
                    <h5 class="modal-title" id="ActualizarFechalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="text-left m-3">
                    <div class="form-group">
                        <label asp-for="NombreProceso" class="control-label"></label>
                        <input asp-for="NombreProceso" readonly class="form-control disabled" />
                        <span asp-validation-for="NombreProceso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" readonly class="form-control disabled" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        @if (Model.FechaFin.Value.Year.ToString() == "9999")
                        {
                            <input asp-for="FechaFin" class="form-control " value="" />
                        }
                        else
                        {
                            <input asp-for="FechaFin" class="form-control " />
                        }
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-body">
                    &iquest;Confirma que desea  <strong>actualizar la fecha fin</strong> del proceso?
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ReabrirModal" tabindex="-1" aria-labelledby="ReabrirModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="ReabrirProceso">
                <input type="hidden" asp-for="IdProceso" />
                <div class="modal-header">
                    <h5 class="modal-title" id="ReabrirModallLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="text-left m-3">
                    <div class="form-group">
                        <label asp-for="NombreProceso" class="control-label"></label>
                        <input asp-for="NombreProceso" readonly class="form-control disabled" />
                        <span asp-validation-for="NombreProceso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" readonly class="form-control disabled" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        @if (Model.FechaFin.Value.Year.ToString() == "9999")
                        {
                            <input asp-for="FechaFin" class="form-control " value="" />
                        }
                        else
                        {
                            <input asp-for="FechaFin" class="form-control " />
                        }
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-body">
                    &iquest;Confirma que desea  <strong>reabrir</strong> el proceso?
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CierreAnticipado">
                <input type="hidden" asp-for="IdProceso" />
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    &iquest;Confirma que desea realizar el <strong>cierre anticipado</strong> del proceso?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmacionCierreModal" tabindex="-1" aria-labelledby="confirmacionCierreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CierreAnticipado">
                <input type="hidden" asp-for="IdProceso" />
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionCierreModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    &iquest;Confirma que desea realizar el <strong>cierre</strong> del proceso?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="procesoTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.proceso"
                        id="proceso-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#proceso"
                        type="button"
                        role="tab"
                        aria-controls="proceso"
                        aria-selected="true">
                    Proceso
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.alertas"
                        id="alertas-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#alertas"
                        type="button"
                        role="tab"
                        aria-controls="alertas"
                        aria-selected="false">
                    Alertas
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.disclaimers"
                        id="disclaimers-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#disclaimers"
                        type="button"
                        role="tab"
                        aria-controls="disclaimers"
                        aria-selected="false">
                    Disclaimers
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.formularios"
                        id="formularios-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#formularios"
                        type="button"
                        role="tab"
                        aria-controls="formularios"
                        aria-selected="false">
                    Formularios
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.funcionarios"
                        id="funcionarios-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#funcionarios"
                        type="button"
                        role="tab"
                        aria-controls="funcionarios"
                        aria-selected="false">
                    Funcionarios
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.Cumplimiento"
                        id="Cumplimiento-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Cumplimiento"
                        type="button"
                        role="tab"
                        aria-controls="Cumplimiento"
                        aria-selected="false"
                @(@Model.EstadoProceso?.NombreEstadoProceso == "Por configurar" || @Model.EstadoProceso?.NombreEstadoProceso == "Configurado" ? "disabled=\"disabled\"" : "")>
                    Reporte de cumplimiento
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ViewBag.auditoria"
                        id="auditoria-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#auditoria"
                        type="button"
                        role="tab"
                        aria-controls="auditoria"
                        aria-selected="false">
                    Auditoría
                </button>
            </li>
        </ul>

        <div class="tab-content" id="procesoTabContent">
            <div class="tab-pane fade @ViewBag.proceso " id="proceso" role="tabpanel" aria-labelledby="proceso-tab">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdEstadoProceso" />
                    <input type="hidden" asp-for="IdProceso" />
                    <div class="form-group">
                        <label asp-for="IdEstadoProceso" class="control-label"></label>
                        <div class="form-control disabled">@Html.DisplayFor(p =>p.EstadoProceso.NombreEstadoProceso)</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreProceso" class="control-label"></label>
                        <input asp-for="NombreProceso" class="form-control disabled" />
                        <span asp-validation-for="NombreProceso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" class="form-control disabled" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        @if (Model.FechaFin.Value.Year.ToString() == "9999")
                        {
                            <input asp-for="FechaFin" class="form-control disabled" value="" />
                        }
                        else
                        {
                            <input asp-for="FechaFin" class="form-control disabled" />
                        }
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Corporativo" class="control-label"></label>
                        <input type="checkbox" asp-for="Corporativo" class="form-check-input ms-3 disabled" disabled="disabled" />
                        <span asp-validation-for="Corporativo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <textarea asp-for="Observaciones" class="form-control disabled" disabled="disabled"></textarea>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>


                    @if (Model.EstadoProceso.NombreEstadoProceso == "Cerrado" || Model.EstadoProceso.NombreEstadoProceso == "Cerrado anticipado")
                    {
                        <div class="text-center m-3">


                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReabrirModal">
                                Reabrir proceso
                            </button>

                            <a asp-action="Index" asp-area="Administracion" asp-controller="Procesos" class="btn btn-secondary">Regresar</a>
                        </div>
                    }
                    else
                    {
                        <div class="text-center m-3">


                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ActualizarFecha">
                                    Actualizar fecha fin
                                </button>

                            
                            
                            <input type="submit" value="Guardar" class="btn btn-primary" disabled="disabled" />
                            <a asp-action="Index" asp-area="Administracion" asp-controller="Procesos" class="btn btn-secondary">Regresar</a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmacionModal" disabled="disabled">
                                Configurado
                            </button>
                            <button type="button"
                                    class="btn btn-primary @(@Model.EstadoProceso?.NombreEstadoProceso != "En ejecución"?"hidden":"")"
                                    data-bs-toggle="modal" data-bs-target="#confirmacionModal"
                            @(@Model.EstadoProceso?.NombreEstadoProceso != "En ejecución" ? "disabled=\"disabled\"" : "")>
                                Cerrar proceso
                            </button>
                            <button type="button"
                                    class="btn btn-primary @(@Model.EstadoProceso?.NombreEstadoProceso != "En ejecución"?"hidden":"")"
                                    data-bs-toggle="modal" data-bs-target="#confirmacionCierreModal"
                            @(@Model.EstadoProceso?.NombreEstadoProceso != "En ejecución" ? "disabled=\"disabled\"" : "")>
                                Cerrar
                            </button>
                        </div>

                    }

                </form>
            </div>
            <div class="tab-pane fade  @ViewBag.alertas" id="alertas" role="tabpanel" aria-labelledby="alertas-tab">
                <table class="tablaBlue m-3 table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model=> model.Alertas.FirstOrDefault().Estatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().Diligenciado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().Asunto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().SubTitulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().Cuerpo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alertas.FirstOrDefault().AvisoConfidencialidad)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Alertas)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-area="Administracion" asp-controller="Alertas" asp-route-idproceso="@Model.IdProceso" asp-route-id="@item.IdAlerta" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fa fa-edit"></i></a> |
                                    <a asp-action="Details" asp-area="Administracion" asp-controller="Alertas" asp-route-id="@item.IdAlerta" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details"><i class="fa fa-search"></i></a> |
                                    <a asp-action="Delete" asp-area="Administracion" asp-controller="Alertas" asp-route-idproceso="@Model.IdProceso" asp-route-id="@item.IdAlerta" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fas fa-trash iconRed"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estatus)
                                </td>
                                <td>
                                    @if (!item.Diligenciado)
                                    {
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diligenciado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asunto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTitulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cuerpo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AvisoConfidencialidad)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade  @ViewBag.disclaimers" id="disclaimers" role="tabpanel" aria-labelledby="disclaimers-tab">
                <table id="disclaimerTable" class="tablaBlue m-3 table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disclaimers.FirstOrDefault().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disclaimers.FirstOrDefault().Texto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Disclaimers)
                        {
                            <tr>
                                <td>

                                    <a asp-action="Edit" asp-area="Administracion" asp-controller="Disclaimers" asp-route-idproceso="@Model.IdProceso" asp-route-id="@item.IdDisclaimer" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fa fa-edit"></i></a> |
                                    <a asp-action="Details" asp-area="Administracion" asp-controller="Disclaimers" asp-route-id="@item.IdProceso" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details"><i class="fa fa-search"></i></a> |
                                    <a asp-action="Delete" asp-area="Administracion" asp-controller="Disclaimers" asp-route-idproceso="@Model.IdProceso" asp-route-id="@item.IdDisclaimer" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fas fa-trash iconRed"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Texto)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade  @ViewBag.formularios" id="formularios" role="tabpanel" aria-labelledby="formularios-tab">
                <table id="formularioTable" class="tablaBlue m-3 table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formularios.FirstOrDefault().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formularios.FirstOrDefault().VersionFormulario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model =>   model.Formularios.FirstOrDefault().TipoDeclaracion)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Formularios)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-area="Administracion" asp-controller="Formularios" asp-route-idproceso="@Model.IdProceso" title="Editar" asp-route-id="@item.IdFormulario" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fa fa-edit"></i></a> |
                                    <a asp-action="Details" asp-area="Administracion" asp-controller="Formularios" asp-route-idproceso="@Model.IdProceso" title="Ver detalles" asp-route-id="@item.IdFormulario" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details"><i class="fa fa-search"></i></a> |
                                    <a asp-action="Delete" asp-area="Administracion" asp-controller="Formularios" asp-route-idproceso="@Model.IdProceso" title="Eliminar" asp-route-id="@item.IdFormulario" asp-route-idProceso="@item.IdProceso" asp-route-origen="Details" class="disabled"><i class="fas fa-trash iconRed"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDeclaracion.NombreDeclaracion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VersionFormulario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDeclaracion.NombreDeclaracion)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade  @ViewBag.Funcionarios" id="funcionarios" role="tabpanel" aria-labelledby="funcionarios-tab">
                <form id="funcionariosForm">
                    <table id="funcionariosTable" class="tablaBlue m-3 table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().Apellidos)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().Cargo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().LugarTrabajo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().Siglas)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Funcionarios.FirstOrDefault().UnidadOrganizacional)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Funcionarios != null)
                                foreach (var item in Model.Funcionarios)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="funcionarios" value="@item.IdFuncionario" @(@item.IsSelected || Model.Corporativo ? "checked=\"checked\"" : "") disabled="disabled" />
                                            <div class="seleccionado hiddenElement">@(@item.IsSelected ? "seleccionado" : "")</div>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Apellidos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombres)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cargo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LugarTrabajo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Siglas)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnidadOrganizacional)
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="tab-pane fade" id="Cumplimiento" role="tabpanel" aria-labelledby="Cumplimiento-tab">
                <iframe title="reporteFinal-BD-API - Archivo Plano" src="@ViewBag.rutaCumplimiento" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="tab-pane fade" id="auditoria" role="tabpanel" aria-labelledby="auditoria-tab">
                <iframe title="reporteFinal-BD-API - Archivo Plano" src="@ViewBag.rutaAuditoria" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>

            $(document).ready(() => {
                // $('#funcionariosTable').DataTable().order([[0, 'desc']]).draw();



                var table = $('#funcionariosTable').DataTable({
                    rowReorder: true,
                    columnDefs: [
                        {
                            targets: 0,
                            orderDataType: 'dom-checkbox'
                        }
                    ]
                    , "order": [0, 'desc'],
                    language: {
                        url: '/js/dataTables.es-es.json'
                    }
                });



                $('[type="search"]').attr("onchange", "reordenar()").attr("onblur", "reordenar()").attr("onclick", "reordenar()").attr("onkeypress", "reordenar()")
                $(':checkbox').on('change', function (e) {
                    var row = $(this).closest('tr');
                    var hmc = row.find(':checkbox:checked').length;

                    table.row(row).invalidate('dom');
                });



                // Listen to change event from checkbox to trigger re-sorting
                $('#funcionariosTable input[type="checkbox"]').on('change', function () {

                    $(this).closest('td').attr('data-order', this.checked ? 1 : 0);

                    // Store row reference so we can reset its data
                    var $tr = $(this).closest('tr');

                    // Force resorting
                    table
                        .row($tr)
                        .invalidate()
                        .order([0, 'desc'])
                        .draw();
                });





                $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("data-bs-target") // activated tab


                    const nextURL = window.location.pathname + "?idTabs=" + (target).replace("#", "");
                    window.history.pushState(null, null, nextURL);
                    console.log(target);

                });
            })

        </script>
    }
}